{% extends "Navbar.html" %}

{% block title %}Reentrenar Modelo{% endblock %}

{% block content %}
<style>
    h1 {
        color: #a21919;
        margin-bottom: 20px; 
    }
    h2 {
        color: #a21919;
        margin-bottom: 10px; 
    }
    form {
        width: 80%;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        margin-bottom: 20px; 
        margin: 0 auto 20px auto;
        margin-top: 10px;
    }
    button {
        background-color: #a21919;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px; 
    }
    button:hover {
        background-color: #bd5151;
    }
    #result {
        margin-top: 15px;
        font-weight: bold;
    }
    #result {
    margin-top: 15px;
    font-weight: normal;
    font-size: 18px; 
    color: #333; 
    background-color: white; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.chart-container {
        margin-top: 5px;
        width:300px; 
        height: 300px;
        text-align: center;
        margin: 0 auto;
    }
</style>
<h1>Reentrenar Modelo</h1>

<form action="/retrain" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Subir archivo CSV para reentrenar:</label>
        <input type="file" class="form-control-file" id="file" name="file" accept=".csv">
    </div>
    <button id="retrain-button" type="submit" class="btn btn-primary">Reentrenar</button>
</form>
<div id="result"></div>
<h2>Cambio en el f1-score del modelo</h2>
<div class="chart-container">
    <canvas id="f1ScoreChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

document.getElementById('retrain-button').onclick = async function(event) {
    event.preventDefault(); 

    const formData = new FormData(document.querySelector('form'));
    const response = await fetch('/retrain', {
        method: 'POST',
        body: formData 
    });

    if (response.ok) {
        const metrics = await response.json();
        document.getElementById('result').innerText = `El nuevo F1-score luego de reentrenar es de: ${metrics.f1_score_after} `;

            const f1Before = metrics.f1_score_before;
            const f1After = metrics.f1_score_after;

            // Crear el gráfico
            const ctx = document.getElementById('f1ScoreChart').getContext('2d');

            const data = {
                labels: ['F1-Score Antes', 'F1-Score Después'],
                datasets: [{
                    label: 'F1-Score',
                    data: [f1Before, f1After], 
                    backgroundColor: ['#a21942', '#edb8b1'],  
                    borderColor: ['#edb8b1', '#a21942'],
                    borderWidth: 1 }]
            };
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        y: { beginAtZero: false,max: 1,min: 0.9, 
                            ticks: {
                    stepSize: 0.01,}
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            };

            if (window.f1Chart) {
                window.f1Chart.destroy();
            }

            window.f1Chart = new Chart(ctx, config);
    } else {
        console.error('Error al obtener métricas.');
        document.getElementById('result').innerText = 'Error al cargar las métricas.';
    }
        };
    
</script>
{% endblock %}
